.order {
  width: 720px;
  height: 718px;
  background-color: #1C1C21;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px; 
}

.orderClosing {
  margin-top: 40px;
  width: 640px;
  height: 64px;

}

.closing {
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
}

.numbers {
  margin-top: 16px;
  text-align: center;
  max-width: 520px;
}

.text {
  text-align: center;
  font-size: 24px;
  width: 520px;
  height: 30px;
  margin-top: 32px;
}

.gif {
  margin-top: 60px;
}

.orderText {
  text-align: center;
  width: 520px;
  height: 24px;
  font-size: 16px;
  margin-top: 60px;
}

.statusOrder {
  color: #8585AD;
  text-align: center;
  font-size: 16px;
  width: 520px;
  height: 24px;
  margin-top: 8px;
}