.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #1C1C21;
  border-radius: 30px;
}

.modalClosing {
  width: 720px;
  margin-left: auto;
  cursor: pointer;
  /* display: flex;
  justify-content: flex-end; */
  position: absolute;
  left: 656px;
  top: 50px;
}


