.logo-containerHeader {
    max-width: 1280px;
    width: 100%;
    height: 88px;
    display: flex;
}

.containerOrder{
    display: flex;
    justify-content: space-around;
}

.containerAccount {
    display: flex;
    align-items: center;
    max-width: 207px;
    width: 100%;

}

.tapeWrap {
    display: flex;
    align-items: center;
    margin-left: 29px;
}

.burgerWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 12px;
}

.logo {
    position: absolute;
    left: 815px;
    right: 815px;
    top: 15px;
}