.mainContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  width: 100%;
}

.сontainerAnOrder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  padding-left: 30px;
}

.placingAnOrder {
  max-width: 568px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.scrollMenu {
  max-height: calc(100vh - 520px);
  overflow-y: scroll;
  max-width: 94%; /* Используем относительное значение вместо фиксированного */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.scrollMenu::-webkit-scrollbar-track {
  background-color: #8585AD /* цвет фона скроллбара */
}

.scrollMenu::-webkit-scrollbar-thumb {
  background-color:  #8585AD /* цвет ползунка */
}

.dragIcon {
  position: absolute;
  bottom: 25px;
  left: 0px;
}

.сonstructorElement {
  max-width: 506px;
  width: 100%;
}

.selectMenu {
  position: relative;
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-width: 568px;
  justify-content: flex-end;
}

.selectMenuTop {
  max-width: 536px;
  width: 100%;
  display: flex;
}

.selectMenuBottom {
  margin-top: 16px;
  display: flex;
  max-width: 536px;
  width: 100%;
}

.orderPrice {
  max-width: 119px;
  display: flex;
  align-items: center;
}

.checkout {
  max-width: 215px;
  margin-left: 40px;
}