.mainContainer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.placingAnOrder {
  max-width: 568px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media screen and (max-width: 1920px) {
  .placingAnOrder {
    max-width: 90%; /* изменяем максимальную ширину на 90% при ширине экрана меньше 768px */
    margin-top: 50px; /* изменяем отступ сверху на 50px */
  }
}


.scrollMenu {
  max-height: calc(100vh - 520px);
  overflow-y: scroll;
  margin-right: auto;
  max-width: 568px;
  width: 100%;
  max-width: 100%;
}

.scrollMenu::-webkit-scrollbar-track {
  background-color: #8585AD /* цвет фона скроллбара */
}

.scrollMenu::-webkit-scrollbar-thumb {
  background-color:  #8585AD /* цвет ползунка */
}

.selectMenu {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.selectMenuTop {
  display: flex;
  margin-left: auto;
  max-width: 536px;
}

.selectMenuBottom {
  margin-left: auto;
  margin-top: 16px;
}

.orderPrice {
  max-width: 119px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.placingAnOrder {
  max-width: 568px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.checkout {
  max-width: 215px;
  margin-left: 40px;
}