.mainContainer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.сontainerAnOrder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.placingAnOrder {
  max-width: 568px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.scrollMenu {
  max-height: calc(100vh - 520px);
  overflow-y: scroll;
  margin-right: auto;
  max-width: 94%; /* Используем относительное значение вместо фиксированного */
  width: 100%;
}


.scrollMenu::-webkit-scrollbar-track {
  background-color: #8585AD /* цвет фона скроллбара */
}

.scrollMenu::-webkit-scrollbar-thumb {
  background-color:  #8585AD /* цвет ползунка */
}

.selectMenu {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: 568px;
}

.selectMenuTop {
  display: flex;
  max-width: 568px;
  width: 100%;
  margin-left: auto;
}

.selectMenuBottom {
  margin-top: 16px;
  display: flex;
  max-width: 568px;
  width: 100%;
  margin-left: auto;
}

.orderPrice {
  max-width: 119px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.checkout {
  max-width: 215px;
  margin-left: 40px;
}